*{
    margin:10px;
    padding:10px;
    box-sizing: border-box;
    max-width: 1200px;
}
body{
    font-family: serif;
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background: url(../images/header.jpg);
        background-position: center;
        background-attachment:contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
            .menu{
                display: flex;
                flex-flow: row nowrap;
                height: 100px;
                align-items: center;
             }
                .logo{
                     flex: 0 0 auto;
                     align-content: flex-start;
                    }
                .nav{
                     flex: 5 1 auto;
                     display: flex;
                    }
                    .nav a{
                        color:gray;
                        font-size: 15px;
                        padding:0 10px;                       
                    }
                    .nav a:hover{
                        color:orangered;
                    }
                 .social{
                    flex: 1 1 auto;
                    display: flex;
                    }
                    .social a{
                        color:gray;
                        font-size: 15px;
                        padding:0 10px;
                        letter-spacing: 2px;
                    }
                    .social a:hover{
                        color: orangered;
                    }
            .texto-principal{
                background: hsla(12, 3%, 31%, 0.178);
            }    
                h1{
                    text-align: center;
                    color:orangered;
                    opacity: 0.5;
            }    
    .section{
        background: #000;
        display: flex;
    }    
        .articulos{
            background: #4e4e6a;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                background: #1f6cb0;
                flex: 1 1 40%;
            }
            .navegacion{
                background: #70a3c4;
                flex:1 1 100%;
                flex-wrap: wrap;
                align-content: flex-start;
            }
        .aside{
            background: #f73f52;
            flex: 1 1 auto;
            display: flex;
            flex-flow: column;
        }    
            .publicidad{
                background: #ffea85;
            }
    .footer{
        background: #000;
        display: flex;
    
    }
        .pie{
            background: hsl(54, 89%, 41%);
            width:100%;  
        }
        @media all and (max-width: 1200px){
            .section{
                flex-direction: column;
                background: yellow;
            }
        }   
        @media all and (max-width: 600px){
            .articulos{
                flex-direction: column;
            }
            .menu{
                flex-direction: column;
                height: auto;
                display: flex;
                align-items: stretch;
            }
        }     
