*{
    padding:0px;
    box-sizing: border-box;
    max-width: 1200px;
}
body{
    font-family: serif;
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background: url(../images/header.jpg);
        background-position:center;
        display: flex;
        flex-flow: column nowrap;
        padding: 0 20px;
        margin-bottom: 10px;
    }
            .menu{
                display: flex;
                flex-flow: row nowrap;
                height: 200px;
                align-items: center;
             }
                .logo img{
                     width: 75px;
                     vertical-align: top;
                    }
                .nav{
                     width: 100%;
                     display: flex;
                     flex-wrap: wrap;
                     align-items: inherit;
                    }
                    .nav a{
                        color:gray;
                        font-size: 15px; 
                        align-items:center;   
                        flex-grow: 1;               
                    }
                    .nav a:hover{
                        color:orangered;
                    }
                    .nav a>.fas{
                        margin-right: 10px;
                    }
                 .social{
                    flex:1 1 0;
                    display:flex;
                    }
                    .social a{
                        color:gray;
                        font-size: 15px;
                        margin-left: 20px;
                    }
                    .social a:hover{
                        color: orangered;
                    }
            .texto-principal{
                background: hsla(12, 3%, 31%, 0.178);
                margin: 0px 40px 0px 40px;
                padding: 50px;  
               
            }    
                h1{
                    text-align: center;
                    color:orangered;
                    opacity: 0.5;
                    font-weight: lighter;
                    font: size 28px;
                }
    .section{
        background-color: rgb(173, 170, 170);
        display: flex;
    }    
        .articulos{
            background:rgb(173, 170, 170);
            display: flex;
            flex-flow: row wrap;
            padding:10px;
        }
            .article{
                color: black;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0;
                background-color:rgb(228, 222, 222);
                flex: 1 1 40%;
                text-align: justify;
                padding: 10px;
            }
            .article-image{
                height: 50%;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                padding: 10px;
            }
            .article a{
                color: black;
                font-size: 13px;
                padding: 10px;
                margin: 10px 0;
            }
            .article a:hover{
                background-color: orangered;
            }
            .article-image span{
                color:yellow;
                font-size: 13px;
            }
            article p{
                columns:2;
                column-gap: 20px;
            }
            h2{
                font-size: 25px;
                padding: 10px 5px 5px 5px;
                color: white;
                background-color: salmon;
                margin: 5px 0px;
                
            }
            .navegacion{
                flex:1 1 100%;
                flex-wrap: wrap;
                align-content: flex-start;
                text-align: center;
            }
        .aside{
            display: flex;
            flex-wrap: wrap;
        }
    .footer{
        background:#d4d4d4;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
        .pie{
            text-align: center;
        }
        .pie a{
            color: black;
            font-size: 11px;
            padding: 0 10px;
            letter-spacing: 2px;
            }
            .pie a:hover{
                color: orangered;
            }
        @media all and (max-width: 1200px){
            .section{
                flex-direction: column;
                background: yellow;
            }
        }   
        @media all and (max-width: 600px){
            .articulos{
                flex-direction: column;
            }
        }
